.parent {
    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 300px;
    /* align-items: flex-end; */
    /* align-items: last baseline; */
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.child {
    border: 2px solid rgb(15, 158, 160);
    background: rgb(178, 228, 229);
    padding: 20px;
    font-size: 18px;
    /* margin: 10px 0; */
    /* display: inline; inline can't able to take width*/
    /* width: 400px; */
}